body {
    font-family: "Manrope", sans-serif;
    background-color: #F5F5F5;
    width: 100%;
    letter-spacing: -0.03em;
}

.container {
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 1400px;
    padding: 125px;
    box-sizing: border-box;
}

.main_container {
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main_name {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.03em;

    width: 956px;
    height: 120px;

    color: #121212;
    margin-bottom: 30px
}

.main_description {
    background-image: url(../resources/Main_img.png);
    width: 1150px;
    height: 500px;
    position: relative;

    margin-bottom: 150px;
}

.text_main_description {
    width: 430px;
    height: 81px;

    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: -0.03em;

    color: #FFFFFF;

    position: absolute;
    left: 40px;
    bottom: 40px;
}

.second_container{
    margin-bottom: 150px;
    width: 1051px;
    height: 518px;
    box-sizing: border-box;
}

.section_name {
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: -0.03em;
    text-align: left;

    margin-bottom: 30px;
}

.section_description {
    font-size: 45px;
    line-height: 61px;
    font-weight: 400;
    letter-spacing: -0.03em;

    width: 1048px;

    margin-bottom: 30px;
}

.section_btn {
    display: block;
    width: 255px;
    height: 67px;
    text-align: center;
    line-height: 67px;
    background-color: #AD1818;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
}

.project_item {
    margin-bottom: 90px;
    width: 1150 px;
}

.project__img {
    margin-bottom: 15px;
    display: block;
}

.project__title {
    margin-bottom: 15px;

    height: 41px;
    font-size: 30px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: #121212;
}

.project__more {
    text-decoration: none;
    color: #AD1818;

    width: 127px;
    height: 27px;
    font-size: 20px;
    letter-spacing: -0.03em;
    line-height: 100%;
}

.project__btn {
    margin-bottom: 25px;

    box-sizing: border-box;
    width: 100%;
    height: 153px;
    line-height: 153px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #AD1818;
    border: 1px solid #AD1818;
    border-radius: 5px;

    transition: background-color 0.3s
}

.project__btn:hover {
    background-color: #AD1818;
    color: #F5F5F5;
}

.section_services {
    background-color: #121212;
    margin: 0 auto;
    width: 1400px;
    padding: 150px 125px;
    box-sizing: border-box;
}

.section_name_alt {
    margin-bottom: 34px;
    color: #FFFFFF ;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.03em;
}

.services_item {
    margin-bottom: 60px;
}

.services_item:nth-last-child(1) {
    margin-bottom: 0px;
}

.services__img {
    margin-bottom: 15px;
    display: block;
}

.services__title {
    height: 41px;
    font-size: 30px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}