body {
    font-family: "Manrope", sans-serif;
    background-color: #F5F5F5;
    width: 100%;
}

.container {
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 1400px;
    padding: 125px;
    box-sizing: border-box;
}

.main_container {
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main_name {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.03em;

    width: 956px;
    height: 120px;

    color: #121212;
    margin-bottom: 30px;

    
}

.main_description {
    background-image: url(../resources/Main_img.png);
    width: 1150px;
    height: 500px;

    margin-bottom: 150px;
}

.text_main_description {
    width: 430px;
    height: 81px;

    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: -0.03em;

    color: #FFFFFF;

    padding-top: 379px;
    padding-left: 40px;
}

.second_container{
    width: 1051px;
    height: 518px;
    /* margin: 0 auto; */
    box-sizing: border-box;
}

.section_name {
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: -0.03em;
    text-align: left;

    margin-bottom: 30px;
}

.section_description {
    font-size: 45px;
    line-height: 61px;
    font-weight: 400;
    letter-spacing: -0.03em;

    width: 1048px;

    margin-bottom: 30px;
}

.section_btn {
    display: block;
    width: 255px;
    height: 67px;
    text-align: center;
    line-height: 67px;
    background-color: #AD1818;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
}